/* Write your CSS here */
.bg-container {
  padding: 30px;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}

.paragraph {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
}

.input-class {
  border-style: solid;
  border-width: 1px;
  border-color: #cbd2d9;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  font-size: 10px;
}

.btn {
  background-color: #0284c7;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
  font-size: 10px;
  height: 30px;
  width: 80px;
  cursor: pointer;
}

.image {
  height: 250px;
  width: 350px;
}

.comments-para {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
}

.span-class {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 3px;
  border-radius: 2px;
}

.list-container {
  padding-left: 0px;
}
