.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-item {
  list-style-type: none;
}

.name-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 17px;
  margin-right: 8px;
  flex-shrink: 0;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
}

.name-time {
  display: flex;
  margin-bottom: 0px;
}

.name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.time {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 10px;
  margin-top: 19px;
}

.comment {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 10px;
  margin-top: 0px;
}

.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  color: #0ea5e9;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.like {
  display: flex;
}

.like-img {
  height: 17px;
  width: 17px;
  margin-right: 8px;
  margin-top: 3px;
}
